<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->

<h2>TOY NAME</h2>
<p>
    <img src="assets/toy.jpg" alt="toypic" width="400" height="500" />
</p>
<ul>
    <b>
        Name : 
    </b>
    <li class="ml-3" id="title_name">{{toy.name}}</li>
    <b>
        Gender :
    </b>
    <li class="ml-3" id="gender">{{toy.gender}}</li>
    <b>
        Age : 
    </b>
     <li class="ml-3" id="age" >{{toy.age}}</li>
     <b>
        Price : 
    </b>
     <li class="ml-3" id="price">{{toy.price}}</li>
    <span>Shipping Method: Cash on delivery</span>
    <br>
    <span *ngIf="toy.status" >In Stock</span>
    <span *ngIf="!toy.status" >Out Stock</span>

</ul>
<h4>QUANTITY</h4>
<select id="dd_toy_quantity" name="dd_toy_quantity">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<p><button type="button" [routerLink]="['/toylist/toydetail/toyshoping',id]">Add to Cart</button></p>
