<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->

<h2>TOY NAME</h2>
<p>
    <img src="img_girl.jpg" alt="toypic" width="400" height="500" />
</p>
<ul>
    <li>Name : {{toy.name}}</li>
    <li>Gender : {{toy.gender}}</li>
    <li>Age : {{toy.age}}</li>
    <li>Price : {{toy.price}}</li>
    <li>Shipping Method: Cash on delivery</li>
    <li *ngIf="toy.status" >In Stock</li>
    <li *ngIf="!toy.status" >Out Stock</li>

</ul>
<h4>QUANTITY</h4>
<select id="dd_toy_quantity" name="dd_toy_quantity">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<p><button type="button">Add to Cart</button></p>
