<h2>
    Payment Methods
</h2>
<div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Item</h2>
        <b id="item_detail">Toy Name </b> by Brand
        <li> Gender :</li>
        <li> Age :</li>
        <li> In Stock / Out Stock</li>
        <li id="quantity_detail"> Quantity</li>
        <p id="price_detail">
            Price = xxxxxx
        </p>
    </div>
    <div class="column" style="background-color:#aaa;">
        <h2>Item</h2>
        <b id="item_detail">Toy Name </b> by Brand
        <li> Gender :</li>
        <li> Age :</li>
        <li> In Stock / Out Stock</li>
        <li id="quantity_detail"> Quantity</li>
        <p id="price_detail">
            Price = xxxxxx
        </p>
    </div>
</div>

<div>
    <h2>
        Order Sumary
    </h2>
    <div>
        <p>
            Item(2) : price THB
        </p>
        <p>
            Shipping Fee : shipping price THB
        </p>
        <p id="order_summary">
            Order total : total_price THB
        </p>
    </div>
</div>

<br>
<form action="/action_page.php">
    <p>Please select your Payment Method:</p>
    <input type="radio" id="rd_credit">
    <label for="rd_credit">Credit Cards</label><br>
    <input type="radio" id="rd_debit">
    <label for="re_debit">Debit Cards</label><br>
    <input type="radio" id="rd_line_pay">
    <label for="re_line_pay">Line Pay</label>
</form>

<button type="button" id=btn_placeorder>Place your order</button>