<H2>Thank you</H2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/toy.jpg" alt="toypic" width="500" height="500" />
        </div>
        <div class="col-md-4 offset-md-2">
            <h3 id="order_id">Order id 20200801001</h3>
            <ul>
                <li id="brand">Brand</li>
                <li id="gender">Gender</li>
                <li id="age">Age</li>
                <li id="price">Price</li>
                <li id="shipping_method">Shipping Method: Cash on delivery</li>
                <li>INSTOCK / OUTSTOCK</li>
            </ul>
            <h4>QUANTITY</h4>
            <select id="dd_toy_quantity" name="dd_toy_quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <h4>Address</h4>
            <p id="user_name">ชื่อ กำธร พบธร</p>
            <p id="user_address">ที่อยู่ บ้านเลขที่15 หมู่4 ตำบลหนองดินแดง อำเภอเมืองนครปฐม จังหวัดนครปฐม 73000</p>
        </div>
    </div>
</div>