<h2>
    Shipping Address
</h2>
<div>
    Fullname
    <br>
    <input type="text" id="txt_name"> <br><br>


    Address 1
    <br>
     <input type="text" id="txt_address1"> <br><br>


    Address 2
    <br>
    <input type="text" id="txt_address2"> <br><br>


    City
    <br>
    <input type="text" id="txt_city"> <br><br>


    Province
    <br>
    <input type="text" id="txt_province"> <br><br>


    Post Code
    <br>
    <input type="text" id="txt_postcode"> <br><br>
</div>
<button type="button" id="btn_deliver" [routerLink]="['/payment',id,shipID]"> Deviver to this address</button>