
<!-- <h2 class="ml-5 mt-3">Search Toy</h2> -->

<div class="d-flex flex-row justify-content-center mt-5 mb-3">
  <h2 >Search Toy</h2>
  <select name="age" id="dd_age" class="ml-5">
    <option value="volvo">Age</option>
    <option value="saab">Todler</option>
    <option value="opel">3-5</option>
    <option value="audi">6-8</option>
  </select><br><br>

  <select name="dd_gender" id="dd_gender" class="ml-5">
    <option value="volvo">Gender</option>
    <option value="volvo">Male</option>
    <option value="saab">Female</option>
    <option value="neutral">Neutral</option>

  </select><br><br>

  <button class="ml-5 pl-4 pr-4  " id="btn_search">
    Search
  </button>
</div>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 mb-2">Search Toy:</div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">

    </div>
    <div class="table-responsive" style="border: solid ">
      <table class="table">
        <thead>
          <tr>
            <th>Toy Name</th>
            <th>price</th>
            <th>gender</th>
            <th>age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of toylist ; let num = index">
            <th [routerLink]="['/toylist/toydetail',num]"> {{i.name}}</th>
            <th> {{i.price}} </th>
            <th>{{i.age}}</th>
            <th>{{i.gender}}</th>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>