<h2>Search Toy</h2>

<select name="age" id="dd_age">
    <option value="volvo">Age</option>
    <option value="saab">Todler</option>
    <option value="opel">3-5</option>
    <option value="audi">6-8</option>
</select><br><br>

<select name="dd_gender" id="dd_gender">
    <option value="volvo">Gender</option>
    <option value="volvo">Male</option>
    <option value="saab">Female</option>
    <option value="neutral">Neutral</option>

</select><br><br>



<button id="btn_search">
    Search
</button>

<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">Search Toy:</div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">

      </div>
      <div class="table-responsive">
        <table class="table">
          <!-- <thead>
            <tr>
              <th>
                <button class="btn btn-primary">
                  Product Image
                </button>
              </th>
              <th>Product Code</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Available</th>
              <th>Rating</th>
            </tr>
          </thead> -->
          <tbody>
            <tr>
              <th> name </th>
              <th> ID </th>
              <th>Age</th>
              <th>Gender</th>
              <th> Price </th>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>


  <!-- <input type="text" [(ngModel)]="name" /> -->